@import '../../styles/base';

.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.image {
  object-fit: cover;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  color: $color-gray-dark;
}
